/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$experimental-support-for-svg: true;

// Partials css files
@import "buttons";
@import "header";
@import "content-main-teaser";
@import "footer";


// Common styles

body,html {
  background: #fff;
  color: #9f9f9f;
}

h1 {
  font-size: 41px;
  color: #636363;
  margin-top: 1em;
  margin-bottom: .5em;
}

p {
  line-height: 1.5;
  margin-bottom: 2em;
}



// CONTENT ===========================

// section About
.info-articel {
  text-align: center;
  .pic-app-of-the-year {
    margin-bottom: 50px;
    padding-left: 20px;
  }
}




// section Project info

.project-info {
  background: #eee;
  @include background-image(linear-gradient(left, #FFFFFF, #FFFFFF 66.66%, #4CD4B0 66.66%));
  article {
    background: #fff;
    height: 510px;
    font-size: 75px;
    color: #4CD4B0;
    text-transform: uppercase;
    p {
      margin-bottom: 0;
    }
    .highlight {
      font-size: 200px;
      font-weight: bold;
    }
  }
  aside {
    height: 510px;
    background: #4CD4B0 url(../img/arrows.png) right center no-repeat;
    .arrows {
      display: block;
      height: 510px;
    }
  }
}
