/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'pt_sansregular';
  src: url("../fonts/ptsans-webfont.eot");
  src: url("../fonts/ptsans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans-webfont.woff") format("woff"), url("../fonts/ptsans-webfont.ttf") format("truetype"), url("../fonts/ptsans-webfont.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_buttons\.scss}line{font-family:\000035}}
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-size: 21px;
  background: #54D0C1;
  color: white;
  border: 0;
  position: relative;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_buttons\.scss}line{font-family:\0000313}}
.btn span {
  display: block;
  height: 45px;
  border-bottom: 4px solid #3CB8A9;
  line-height: 45px;
  padding: 0 20px;
  margin-left: 56px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_buttons\.scss}line{font-family:\0000321}}
.btn:before {
  content: "";
  height: 45px;
  width: 56px;
  display: block;
  background: #299a8c url(../img/ico-cart.png) center center no-repeat;
  border-bottom: 4px solid #257F74;
  position: absolute;
  left: 0;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_buttons\.scss}line{font-family:\0000332}}
.btn.btn-2 {
  background: #11C9B2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_buttons\.scss}line{font-family:\0000334}}
.btn.btn-2 span {
  border-bottom-color: #13A492;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_buttons\.scss}line{font-family:\0000337}}
.btn.btn-2:before {
  background-color: #40D7C5;
  border-bottom-color: #15B19E;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_header\.scss}line{font-family:\000038}}
header {
  height: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_header\.scss}line{font-family:\0000310}}
header .logo {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  width: 178px;
  height: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_header\.scss}line{font-family:\0000318}}
header .main-nav {
  float: right;
  font-size: 19px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_header\.scss}line{font-family:\0000321}}
header .main-nav li {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_header\.scss}line{font-family:\0000323}}
header .main-nav li a {
  color: #565656;
  text-decoration: none;
  float: left;
  height: 100px;
  line-height: 100px;
  margin: 0 10px;
  border: solid #fff;
  border-width: 4px 0;
  position: relative;
  -webkit-transition: border-color 1s;
  -moz-transition: border-color 1s;
  -o-transition: border-color 1s;
  transition: border-color 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_header\.scss}line{font-family:\0000334}}
header .main-nav li a:before {
  content: "";
  display: block;
  width: 1px;
  height: 19px;
  background: #565656;
  position: absolute;
  top: 41px;
  left: -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_header\.scss}line{font-family:\0000344}}
header .main-nav li a:hover {
  border-bottom-color: #b0f4f0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_header\.scss}line{font-family:\0000348}}
header .main-nav li.current a {
  border-bottom-color: #1bbdb3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_header\.scss}line{font-family:\0000352}}
header .main-nav li:first-child a:before {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/icons-devices\/\*\.png}line{font-family:\0000358}}
.icons-devices-sprite, .icons-devices-desktop, .icons-devices-phone, .icons-devices-tablet {
  background: url('/assets/img/icons-devices-sa4c4a010ff.png') no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-devices-desktop {
  background-position: 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-devices-phone {
  background-position: 0 -67px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-devices-tablet {
  background-position: 0 -134px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\000037}}
.main-teaser {
  background: #00717A;
  height: 540px;
  position: relative;
  color: white;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjY1JSIgY3k9IjkwJSIgcj0iNzMwIj48c3RvcCBvZmZzZXQ9IjQxLjA5NTg5JSIgc3RvcC1jb2xvcj0iIzE5Y2RiNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNzE3YSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(radial, 65% 90%, 0, 65% 90%, 730, color-stop(41.09589%, #19cdb5), color-stop(100%, #00717a));
  background-image: -webkit-radial-gradient(65% 90%, circle cover, #19cdb5 300px, #00717a 730px);
  background-image: -moz-radial-gradient(65% 90%, circle cover, #19cdb5 300px, #00717a 730px);
  background-image: -o-radial-gradient(65% 90%, circle cover, #19cdb5 300px, #00717a 730px);
  background-image: radial-gradient(65% 90%, circle cover, #19cdb5 300px, #00717a 730px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\0000314}}
.main-teaser .nav-tabs {
  float: right;
  position: absolute;
  right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\0000318}}
.main-teaser .nav-tabs a {
  width: 120px;
  height: 120px;
  overflow: hidden;
  text-indent: 100%;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\0000324}}
.main-teaser .nav-tabs a span {
  display: block;
  position: absolute;
  margin-left: 28px;
  margin-top: 25px;
  width: 65px;
  height: 67px;
  opacity: 0.57;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\0000334}}
.main-teaser .nav-tabs a:hover span {
  opacity: 0.9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\0000339}}
.main-teaser .nav-tabs li {
  background: rgba(0, 118, 124, 0.35);
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\0000343}}
.main-teaser .nav-tabs li:after {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 13px 9px 0;
  border-color: rgba(0, 118, 124, 0.35) transparent transparent;
  bottom: -13px;
  left: 50%;
  margin-left: -9px;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\0000354}}
.main-teaser .nav-tabs li.active:after {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\0000358}}
.main-teaser .nav-tabs li:nth-child(2), .main-teaser .nav-tabs li.nav-tabs-tablet {
  background: rgba(0, 118, 124, 0.65);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\0000360}}
.main-teaser .nav-tabs li:nth-child(2):after, .main-teaser .nav-tabs li.nav-tabs-tablet:after {
  border-top-color: rgba(0, 118, 124, 0.65);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\0000365}}
.main-teaser .nav-tabs li:nth-child(3), .main-teaser .nav-tabs li.nav-tabs-phone {
  background: #00767c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\0000367}}
.main-teaser .nav-tabs li:nth-child(3):after, .main-teaser .nav-tabs li.nav-tabs-phone:after {
  border-top-color: #00767c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\0000377}}
.tab-pane {
  height: 540px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\0000379}}
.tab-pane .slide-picture {
  position: relative;
  float: left;
  width: 450px;
  margin-top: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\0000384}}
.tab-pane .slide-picture img {
  position: relative;
  z-index: 2;
  display: block;
  margin-left: 95px;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\0000391}}
.tab-pane .slide-picture .circles {
  width: 450px;
  height: 450px;
  -webkit-border-radius: 450px;
  -moz-border-radius: 450px;
  -ms-border-radius: 450px;
  -o-border-radius: 450px;
  border-radius: 450px;
  background: rgba(24, 182, 169, 0.2);
  position: absolute;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\00003100}}
.tab-pane .slide-picture .circles:before, .tab-pane .slide-picture .circles:after {
  content: "";
  width: 330px;
  height: 330px;
  -webkit-border-radius: 330px;
  -moz-border-radius: 330px;
  -ms-border-radius: 330px;
  -o-border-radius: 330px;
  border-radius: 330px;
  display: block;
  background: rgba(24, 182, 169, 0.2);
  position: absolute;
  left: 30px;
  top: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\00003111}}
.tab-pane .slide-picture .circles:after {
  left: 60px;
  top: 60px;
  background: #18b6a9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\00003116}}
.tab-pane .slide-picture .circles:before {
  padding: 30px;
  width: 390px;
  height: 390px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\00003123}}
.tab-pane .slide-body {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\00003126}}
.tab-pane .app-of-the-year {
  font-size: 21px;
  line-height: 28px;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 180px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\00003132}}
.tab-pane .app-of-the-year:before {
  content: "";
  float: left;
  background: url(../img/ico-globe.png);
  width: 55px;
  height: 55px;
  margin-right: 10px;
  opacity: .65;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\00003142}}
.tab-pane .slide-title {
  font-size: 39px;
  margin-top: 40px;
  margin-bottom: 5px;
  color: inherit;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\00003149}}
.tab-pane .slide-content {
  font-size: 17px;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_content-main-teaser\.scss}line{font-family:\00003153}}
.tab-pane .btn-buy {
  margin-top: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/icons-symbol\/\*\.png}line{font-family:\0000382}}
.icons-symbol-sprite, .icons-symbol-apple, .icons-symbol-cart, .icons-symbol-lock, .icons-symbol-power, .icons-symbol-star, .icons-symbol-zoom {
  background: url('/assets/img/icons-symbol-saa50a321c9.png') no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-symbol-apple {
  background-position: 0 -276px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-symbol-cart {
  background-position: 0 -184px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-symbol-lock {
  background-position: 0 -460px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-symbol-power {
  background-position: 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-symbol-star {
  background-position: 0 -368px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-symbol-zoom {
  background-position: 0 -92px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\000036}}
.showcase {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjY1JSIgY3k9IjkwJSIgcj0iNzMwIj48c3RvcCBvZmZzZXQ9IjEzLjY5ODYzJSIgc3RvcC1jb2xvcj0iIzEwYTQ5OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNjQ2YSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(radial, 65% 90%, 0, 65% 90%, 730, color-stop(13.69863%, #10a499), color-stop(100%, #00646a));
  background-image: -webkit-radial-gradient(65% 90%, circle cover, #10a499 100px, #00646a 730px);
  background-image: -moz-radial-gradient(65% 90%, circle cover, #10a499 100px, #00646a 730px);
  background-image: -o-radial-gradient(65% 90%, circle cover, #10a499 100px, #00646a 730px);
  background-image: radial-gradient(65% 90%, circle cover, #10a499 100px, #00646a 730px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\000038}}
.showcase .nav {
  display: table;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000311}}
.showcase .nav li {
  display: table-cell;
  float: none;
  background: #086C71;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000315}}
.showcase .nav li a {
  display: block;
  height: 180px;
  border-top: 8px solid white;
  outline: none;
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000321}}
.showcase .nav li a span {
  display: block;
  width: 81px;
  height: 92px;
  margin: 25px auto;
  opacity: 0.57;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000329}}
.showcase .nav li:nth-child(2) {
  background: #057A81;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000332}}
.showcase .nav li:nth-child(3) {
  background: #118D96;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000335}}
.showcase .nav li:nth-child(4) {
  background: #1D9EA7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000338}}
.showcase .nav li:nth-child(5) {
  background: #28B5BF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000341}}
.showcase .nav li:nth-child(6) {
  background: #3AC8D2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000344}}
.showcase .nav li.active {
  background: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000346}}
.showcase .nav li.active a {
  border-top-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000348}}
.showcase .nav li.active a span {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000356}}
.showcase .item {
  height: 540px;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000359}}
.showcase .item figure {
  float: left;
  margin-top: 90px;
  margin-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000364}}
.showcase .item .slide-body {
  margin-top: 110px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000370}}
.showcase .carousel-indicators {
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000372}}
.showcase .carousel-indicators li {
  border: 0;
  background: white;
  opacity: .34;
  width: 12px;
  height: 12px;
  margin: 1px 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000379}}
.showcase .carousel-indicators li.active {
  opacity: 1;
  width: 18px;
  height: 18px;
  margin-bottom: -2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000387}}
.showcase .carousel-control {
  opacity: 0;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_showcase\.scss}line{font-family:\0000390}}
.showcase .carousel-control:hover {
  opacity: .9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/_footer\.scss}line{font-family:\000031}}
footer {
  border-top: 1px solid #DDDDDD;
  font-size: 23px;
  color: #969696;
  text-align: center;
  padding: 40px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/screen\.scss}line{font-family:\0000334}}
body, html {
  background: #fff;
  color: #9f9f9f;
  font-family: 'pt_sansregular', Arial, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/screen\.scss}line{font-family:\0000340}}
h1 {
  font-size: 41px;
  color: #636363;
  margin-top: 1em;
  margin-bottom: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/screen\.scss}line{font-family:\0000347}}
p {
  line-height: 1.5;
  margin-bottom: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/screen\.scss}line{font-family:\0000357}}
.info-articel {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/screen\.scss}line{font-family:\0000359}}
.info-articel .pic-app-of-the-year {
  margin-bottom: 50px;
  padding-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/screen\.scss}line{font-family:\0000370}}
.project-info {
  background: #eee;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNjYuNjYlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSI2Ni42NiUiIHN0b3AtY29sb3I9IiM0Y2Q0YjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(66.66%, #ffffff), color-stop(66.66%, #4cd4b0));
  background-image: -webkit-linear-gradient(left, #ffffff, #ffffff 66.66%, #4cd4b0 66.66%);
  background-image: -moz-linear-gradient(left, #ffffff, #ffffff 66.66%, #4cd4b0 66.66%);
  background-image: -o-linear-gradient(left, #ffffff, #ffffff 66.66%, #4cd4b0 66.66%);
  background-image: linear-gradient(left, #ffffff, #ffffff 66.66%, #4cd4b0 66.66%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/screen\.scss}line{font-family:\0000373}}
.project-info article {
  background: #fff;
  height: 510px;
  font-size: 75px;
  color: #4CD4B0;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/screen\.scss}line{font-family:\0000379}}
.project-info article p {
  margin-bottom: 0;
  margin-left: 12%;
  line-height: 1.2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/screen\.scss}line{font-family:\0000384}}
.project-info article .highlight {
  font-size: 200px;
  font-weight: bold;
  line-height: .7;
  display: inline-block;
  margin-top: 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/screen\.scss}line{font-family:\0000392}}
.project-info aside {
  height: 510px;
  background: #4cd4b0 url(../img/arrows.png) right center no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/_local_www\/motteq-minimal\/assets\/sass\/screen\.scss}line{font-family:\0000395}}
.project-info aside .arrows {
  display: block;
  height: 510px;
}
